.main{
    width: 100%;
    height: 100%;
    background-image: url("../../Assets/Images/background_nav.jpg");
    background-size: cover;
}
.plenka{
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    width: calc(100% - 30px);
    height: calc(100% - 120px);
    background-color: rgba(0, 0, 0, 0.7);
}
.header{
    width: calc(100% - 10px);
    height: 50px;
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.header img{
    width: 20px;
}
.header h1{
    color: white;
    font-weight: 300;
    font-size: 20px;
    margin-left: 15px;
}
.menu{
    width: 100%;
    height: calc(100% - 170px);
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.item a{
    color: white;
    font-weight: 300;
    text-decoration: none;
    width: calc(100% - 10px);
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding-left: 10px;
}
.item a img{
    width: 25px;
    margin-right: 10px;
}
.item a.active {
    background-color: #47abc1;
    box-shadow: 1px 0px 15px -1px #47abc1;
}
.foot{
    width: 100%;
    height: 100px;
    background-color: #47abc1;
}