body{
  margin: 0;
  background-color: #ededee;
}
.app{
  width: 100%;
  height: 100vh;
}
.main{
  width: 100%;
  height: 100%;
  display: flex;
  height: calc(100% - 100px);
}
.menu{
  width: 15%;
  height: 100%;
}
.wrap-content{
  width: calc(80% - 40px);
  height: 100%;
  padding-left: 40px;
}
.footer{
  width: 100%;
  height: 100px;
}
::-webkit-scrollbar {
  width: 10px;
  opacity: 0;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
  opacity: 0;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #ae0aae;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  opacity: 0;
}
.Cal__Day__highlighted:before {
  background-color: rgb(73, 194, 73) !important;
}